{% extends "wineBase.html" %}

{% block content %}

<header id=mainHeader>
	<h1>All Wines in the Database [ {{ numWines }} ]</h1>
</header>

<table class="tablesort fullscreen">
    <tr>
        <th>ID</th>
        <th>Country</th>
        <th>Region</th>
        <th>Appellation</th>
        <th>Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Tasted</th>
        <th>Categories</th>
        <th>Varietals</th>
        <th>Action</th>
    </tr>
    {% for wine in wines %}
        <tr>
            <td>{{wine[0].id}}</td>
            <td>{{wine[1]}}</td>
            <td>{{wine[2]}}</td>
            <td>{{wine[0].appellation}}</td>
            <td>
                <a href="{{ url_for('wine_bp.wineHome', _anchor=wine[0].id) }}">
                    {{wine[0].name}}
                </a>
            </td>
            <td>{{wine[0].year}}</td>
            <td>{{wine[0].price}}</td>
            <td>{{wine[0].rating}}</td>
            <td>{{wine[0].date_tasted}}</td>
            <td>{{wine[0].categories}}</td>
            <td>{{wine[0].varietals}}</td>
            <td>
                {% if current_user.is_authenticated %} 
                    <a href="{{url_for('wine_bp.wineEdit', wineid=wine[0].id)}}" 
                        class="button button_edit">Edit </a>
                    <a href="{{url_for('wine_bp.wineDelete', wineid=wine[0].id)}}" 
                        class="button button_delete">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<script>
    // Enable sorting by clicking on table headers
    activate_table_sorting();
</script>

{% endblock %}