<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="EOS Wine Log">
    <meta name="keywords" content="wine">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exult O Shores</title>
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_all.css') }}">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_eos.css') }}">
	<link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Spectral|Libre+Baskerville|Open+Sans">
    <script src="{{ url_for('static', filename='scripts_all.js') }}"></script>
</head>

<body>
    <div id="bodyWrap">
        <header id="siteTitle">EOS Wine Log</header>
        <nav>
            <ul>
                <li>
                    <a href="/">EOS</a>
                </li>
                <li>
                    <a href="/wine">Home</a>
                </li>
                <li>
                    <a href="/wine/table">Table</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="/wine/wineNew">New</a>
                    </li>
                    <li>
                        <a href="/wine/countriesRegions">MCR</a>
                    </li>
                    <li>
                        Welcome {{ current_user.username }}!
                    </li>
                    <li>
                        <a href="/wine/logout">Log Out</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/wine/login">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <section id=notifications>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
        
        <main>
            
            {% block content %}
            {% endblock %}
            
        </main>

        <footer id=pageFooter>
            <script>showPageFooter()</script>
        </footer>
    </div>

</body>

</html>
