<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <script>
            function showWines() {
                var htmlstring = "";
                htmlstring += "<h2>WINES</h2>";
                {% for wine in wines %}
                    htmlstring += 
                        "<div class=wineItem>" +
                            "<div class=wineLabel>" + 
                                "<img src=/static/{{wine.label_photo}}>" + 
                            "</div>" +
                            "<div class=wineInfo>" +
                                "<p><strong>{{wine.name}}</strong></p>";
                                var s = "{{wine.description}}";
                                var t = s.replace(/&lt;/g, "<");
                                var u = t.replace(/&gt;/g, ">");
                                htmlstring += "<p>" + u + "</p>";
                                htmlstring += "<p>" +
                                "{{wine.year}} " +
                                "{{wine.country_id}} " +
                                "{{wine.region_id}}<br> " +
                                "${{wine.price}} " +
                                "{{wine.rating}} points " +
                                "{{wine.abv}} abv <br>";
                                // Avoid blank date_tested values breaking display
                                {% if wine.date_tasted %}
                                    htmlstring += "tasted on {{wine.date_tasted.strftime('%Y-%m-%d')}} ";
                                {% else %}
                                    htmlstring += "No date";
                                {% endif %}
                                htmlstring += "by {{wine.sommelier_id}}" +
                                "</p>" +
                            "</div>" +
                        "</div>";
                {% endfor %}
                winelist.innerHTML = htmlstring;
            }
        </script>
    </head>
    <body>
        <h1>The Wine App</h1>
        <div class="subhead">
            An Exult-O-Shores Production
        </div>

        <p>
            <a href="/manageCountryRegion">Manage Countries & Regions</a> |
            <a href="/wine/new">Create a New Wine</a> |
            <a href="/wineTable">Edit Wines</a>
        </p>
        
        <div id="winelist">
            <script>showWines();</script>
        </div>
        
    </body>
</html>