<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <p>Create a new region:</p>
            <form action="" method = "post">
                <p>
                    <label for="country_id">Country:</label>
                        <select name="country_id">
                        {% for country in countries %}
                            <option value={{country.id}}>{{country.name}}</option>
                        {% endfor %}
                        </select>
                </p>
                <p>
                    <label for="name">Name:</label>
                    <input type="text" maxlength="100" name="name" required>
                </p>
                <p>
                    <button type="submit" id="submit" type="submit">
                        Create
                    </button>
                </p>    
            </form>
        <p><a href="/">Back to home page</a></p>
    </body>
</html>