<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <script>
            function populateRegion(x) {
                // Display regions in dropdown associated with the country selected by user
                let selectedCountryID = document.getElementById('country_id').value;
                let eid = document.getElementById('region_id');
                eid.innerHTML = "<option value=''>--select--</option>"
                {% for region in regions %}
                    if ({{region.country_id}} == selectedCountryID) { 
                        eid.innerHTML += "<option value={{region.id}}>{{region.name}}</option>"
                    }
                {% endfor %}
            }
        </script>
    </head>
    <body>
        <p>Create a new wine in the database:</p>
            <form action="" method = "post">
                <p>
                    <label for="country_id">Country*:</label>
                        <select name="country_id" id="country_id" onchange="populateRegion()" required>
                            <option value="">--select--</option>
                            {% for country in countries %}
                                <option value={{country.id}}>{{country.name}}</option>
                            {% endfor %}
                        </select>
                </p>
                <p>
                    <label for="region_id">Region*:</label>
                        <select name="region_id" id="region_id" required>
                            <option value="">--select country--</option>
                        </select>
                </p>
                <p>
                    <label for="name">Name*:</label>
                    <input type="text" maxlength="1000" name="name" required>
                </p>
                <p>
                    <label for="year">Year:</label>
                    <input type="text" maxlength="100" name="year">
                </p>
                <p>
                    <label for="price">Price:</label>
                    <input type="text" maxlength="100" name="price">
                </p>
                <p>
                    <label for="rating">Rating (0-100):</label>
                    <input type="text" maxlength="100" name="rating">
                </p>
                <p>
                    <label for="abv">ABV (NN.N):</label>
                    <input type="text" maxlength="100" name="abv">
                </p>
                <p>
                    <label for="date_tasted">Date Tasted (YYYY-MM-DD):</label>
                    <input type="text" maxlength="100" name="date_tasted" id="date_tasted">
                </p>
                <p>
                    <label for="label_photo">Label Photo (name of file):</label>
                    <input type="text" maxlength="200" name="label_photo">
                </p>
                <p>
                    <label for="description">Description:</label>
                        <textarea maxlength="1000" name="description" 
                            cols="50" rows="6"></textarea>
                </p>
                <p>
                    <label for="sommelier_id">Sommelier ID (must be 1)</label>
                    <input type="text" maxlength="8" name="sommelier_id" value="1" readonly>
                </p>
                <p>
                    <button type="submit" id="submit">
                        Create
                    </button>
                </p>    
            </form>
            <script>
                var d = new Date().toISOString().split('T')[0];
                document.getElementById("date_tasted").value = d;
            </script>
        <p><a href="/">Back to home page</a></p>

    
    </body>
</html>