<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <p>Create a new wine in the database:</p>
            <form action="" method = "post">
                <p>
                    <label for="country_id">Country:</label>
                        <select name="country_id">
                        {% for country in countries %}
                            <option value={{country.id}}>{{country.name}}</option>
                        {% endfor %}
                        </select>
                </p>
                <p>
                    <label for="region_id">Region:</label>
                        <select name="region_id">
                        {% for region in regions %}
                            <option value={{region.id}}>{{region.name}}</option>
                        {% endfor %}
                        </select>
                </p>
                <p>
                    <label for="name">Name:</label>
                    <input type="text" maxlength="500" name="name" required>
                </p>
                <p>
                    <label for="year">Year:</label>
                    <input type="text" maxlength="100" name="year" required>
                </p>
                <p>
                    <label for="price">Price:</label>
                    <input type="text" maxlength="100" name="price">
                </p>
                <p>
                    <label for="rating">Rating (0-100):</label>
                    <input type="text" maxlength="100" name="rating">
                </p>
                <p>
                    <label for="abv">ABV (NN.N):</label>
                    <input type="text" maxlength="100" name="abv">
                </p>
                <p>
                    <label for="date_tasted">Date Tasted (MM-DD-YYYY):</label>
                    <input type="text" maxlength="100" name="date_tasted">
                </p>
                <p>
                    <label for="label_photo">Label Photo (name of file):</label>
                    <input type="text" maxlength="100" name="label_photo">
                </p>
                <p>
                    <label for="description">Description:</label>
                        <textarea maxlength="1000" name="description" 
                        cols="50" rows="6"></textarea>
                </p>
                <p>
                    <label for="sommelier_id">Sommelier ID (1)</label>
                    <input type="text" maxlength="8" name="sommelier_id">
                </p>
                <p>
                    <button type="submit" id="submit" type="submit">
                        Create
                    </button>
                </p>    
            </form>
        <p><a href="/">Back to home page</a></p>
    </body>
</html>