/* ======= Styles for Exult O Shores ======= */
/* ======= Extending styles_all.css ======= */

/* ======= Site Color Scheme ======= */

:root {
    --body-background-color: #ffff70;
    --main-title-color: #d64949;
    --nav-item-color: #009900;
    --nav-item-hover-color: #0066ff;
}

/* ======= Site Background Color ======= */

body {
    /* Extend background color to entire canvas */
    background-color: var(--body-background-color);
}

/* ======= Page Layout ======= */

/* ======= Title and nav bar ======= */

#main_title {
    color: var(--main-title-color);
}

.nav_item a {
    color: var(--nav-item-color);
  }

.nav_item a:hover {
    color: var(--nav-item-hover-color);
}

/* ======= Home page image ======= */
.moi {
    margin-top: 10px;
    text-align: center;
}
  
/* ======= Wine App ======= */

.wineItem {
    border-top: 3px solid rgb(216, 105, 105);
    clear: left;
    padding: 5px 5px;
}

.wineName {
    font-size: 1.2em;
    font-weight: bold;
}
  
.wineLabel img {
    float: left;
    height: 25%;
    padding-bottom: 5px;
    padding-right: 12px;
    width: 25%;
}
  
.wineInfo {
    text-align: left;
}
  
.wineInfoTitle {
    font-weight: bold;
    margin: 3px;
}
  
.wineInfoLine {
    margin: 3px;
}
  
.wineInfoRating {
    border: 2px solid purple;
    margin: 2px;
    padding: 2px;
}

/* ======= Edit and delete buttons ======= */
/* These are just classes for anchor tages */

.button {
    background-color: black;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
  }
  
  .button_edit {
    background-color: #ffffbb; 
    color: purple; 
  }
  
  .button_edit:hover {
    background-color: plum;
  }
  
  .button_edit:active {
    background-color: purple;
    color: plum;
  }
  
  .button_delete {
    background-color: silver; 
    color: #303030; 
  }
  
  .button_delete:hover {
    background-color: #979297;
  }
  
  .button_delete:active {
    background-color: #303030;
    color: #979797;
  }