/* ======= Styles for Exult O Shores ======= */
/* ======= Extending styles_all.css ======= */

/* ======= Site Color Scheme ======= */

:root {
  --body-background-color: #ffff80;
  --main-title-color: #d64444;
  --nav-item-color: #006666;
  --nav-item-hover-color: #0066ff;
}

/* ======= Home and About page images ======= */

.hero {
  margin-top: 10px;
}

.hero img {
  /* Image hero.jpg dimensions are 900 x 1200 */
  border-radius: 5%;
  height: auto;
  margin: 0em;
  width: 100%;
}

/* ======= About page image ======= */

.moi {
  text-align: center;
}

.moi img {
  /* Image moi.jpg dimensions are 612 x 612 */
  border-radius: 5%;
  display: inline-block;
  float: none;
  height: auto;
  margin: 0em;
  width: 50%;
}

@media only screen and (max-width: 540px) {
  /* Narrow screens: Make about about page image a littler larger */
  .moi img {
    width: 60%;
  }
}
  
/* ======= Wine App ======= */

/* === Media settings for different size viewports === */

@media only screen and (max-width: 540px) {
  .wineItem {
    /* Keep the label image from overflowing the next item
       when there isn't much text: label height + 40 */
    min-height: 306.8px;
  }
}

@media only screen and (min-width: 540px) {
  .wineItem {
      min-height: 373.5px;
  }
}

@media only screen and (min-width: 900px) {
  .wineItem {
      min-height: 440.2px;
  }
}

/* === Wine app home page display === */

.wineItem {
  border-top: 3px solid rgb(216, 105, 105);
  clear: left;
  padding: 5px 5px;
}

.wineName {
  font-size: 1.2em;
  font-weight: bold;
}
  
.wineLabel img {
  margin-bottom: 5px;
}
  
.wineInfo {
  text-align: left;
}
  
.wineInfoTitle {
  font-weight: bold;
  margin: 3px;
}
  
.wineInfoLine {
  margin: 3px;
}
  
.wineInfoRating {
  border: 2px solid purple;
  margin: 2px;
  padding: 2px;
}

/* === Other pages in the wine app === */

#manageCountriesRegions h2 {
  margin-bottom: 1.5rem;
}

/* ======= Edit and delete buttons ======= */
/* These are just classes for anchor tages */

.button {
    background-color: black;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
  }
  
  .button_edit {
    background-color: #ffffbb; 
    color: purple; 
  }
  
  .button_edit:hover {
    background-color: plum;
  }
  
  .button_edit:active {
    background-color: purple;
    color: plum;
  }
  
  .button_delete {
    background-color: silver; 
    color: #303030; 
  }
  
  .button_delete:hover {
    background-color: #979297;
  }
  
  .button_delete:active {
    background-color: #303030;
    color: #979797;
  }
