body {
  background-color: #ffff70;
}
  
h1 {
  color: #d64949;
  text-align: center;
  margin-block-end: 0em;
}

h2 {
  color: darkblue;
  background-color: darkgrey;
  padding: 3px 10px;
  margin: 5px;
  font-size: 1.2em;
}

h3 {
  
}

.subhead {
  color: green;  
  text-align: center;
  font-style: italic;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.wineItem {
  border-top: 3px solid rgb(216, 105, 105);
  clear: left;
  padding: 5px 5px;
}

.wineLabel img {
  width: 25%;
  height: 25%;
  float: left;
  padding-right: 12px;
  padding-bottom: 5px;
}

.wineInfo {
  text-align: left;
}

.wineInfoTitle {
  margin: 3px;
  font-weight: bold;
}

.wineInfoLine {
  margin: 3px;
}

.wineInfoRating {
  border: 2px solid purple;
  padding: 2px;
  margin: 2px;
}

.button {
  color: white;
  background-color: black;
  padding: 0px 6px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button_edit {
  background-color: #ffffbb; 
  color: purple; 
}

.button_edit:hover {
  background-color: plum;
}

.button_edit:active {
  background-color: purple;
  color: plum;
}

.button_delete {
  background-color: silver; 
  color: #303030; 
}

.button_delete:hover {
  background-color: #979297;
}

.button_delete:active {
  background-color: #303030;
  color: #979797;
}

.flash_messages {
  /* padding: 15px; */
  font-weight: bold;
}

.messageError {
  padding: 15px;
  background-color: #fa8072;
  /* color: red; */
}

.messageSuccess {
  padding: 15px;
  background-color: #7fff00;
  /* color: green; */
}

#body_wrap {
  text-align: center;
}

#main_header {
  padding-bottom: 15px;
}

#main_title {
  font-family: Garamond, serif;
  color: #d64949;
}

#nav_bar {
  font-family: Garamond, serif;
}

.nav_item {
  display: inline-block;
  padding: 5px;
}

.nav_item a {
  text-decoration: none;
  color: #009900;
}

.nav_item a:link {
  /* color: #d64949; */
}

.nav_item a:visited {
  /* color: #d64949; */
}

.nav_item a:hover {
  color: #0066ff;
}

#main_section {
  text-align: left;
  font-family: Garamond, serif;
}

#main_footer {
  clear: both;
  padding: 20px;
  font-size: smaller;
  color: #504e4e;
}

.moi {
  text-align: center;
}
