/* ======= Generic Styles for All Apps ======= */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

/* ======= Page Layout ======= */

#body_wrap {
  text-align: center;
}

#main_header {
  display: block;
}

#main_section {
  font-family: Garamond, serif;
  text-align: left;
}

#main_footer {
  clear: both;
  color: #504e4e;
  font-size: x-small;
  margin-top: 200px;
  padding: 20px;
}

/* ======= Title and nav bar ======= */

#main_title {
  /* Color in site-specific styles */
  font-size: 2em;
  font-weight: bold;
  margin: 5px 0px;
  text-align: center;
}

#nav_bar {

}

.nav_item {
  display: inline-block;
  padding: 5px;
}

.nav_item a {
  /* Color in site-specific styles */
  text-decoration: none;
}

.nav_item a:hover {
  /* Color in site-specific styles */
}

.nav_item a:link {
  /* none */
}

.nav_item a:visited {
  /* none */
}

/* ======= Single article view ======= */
.article {
  padding: 3px 10% 3px;
}

.article > h1 {
  /* color variable defined in site css */
  color: var(--main-title-color);
}


/* ======= Subheaders ======= */

.bar_header {
  background-color: #c0c0c0;
  color: #0000cd;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight:bold;
  margin: 15px 0px;
  padding: 3px 10px;
}

.subhead {
  color: green;  
  font-style: italic;
  text-align: center;
}

/* ======= Flash Messages from Flask ======= */

.flash_messages {
  margin-top: 15px;
  font-weight: bold;
}

.messageError {
  padding: 15px;
  background-color: #fa8072;
}

.messageSuccess {
  padding: 15px;
  background-color: #7fff00;
}
