{% extends "base.html" %}

{% block content %}

<div class=bar_header>About Exult O Shores</div>

<div class=article>

	<h1>My Identity Project</h1>
	<p>This SITE is an exercise in identity: discerning, questioning, asserting.<p>
	<p>See links above:</p>
	<ol>
		<li>writer: poems and more</li>
		<li>baker: specifically of 100% Whole Wheat Sourdough Bread. 
			Before it was fashionable, I might add!</li>
		<li>wine enthusiast: 
			most reviews come from my AG (Awesome Girlfriend, 
			although Attorney General is not altogether inappropriate)</li>
		<li>techie: specifically web developer. All this is mine.</li>
	</ol>
	<p>Also I want to investigate and articulate my identity as a WHeCM:
		White Hetero Cis Male, by "nature" a creature of privilege. (Pronounced "Whetchum," 
		rhymes with "Ketchum," a town in my birth state of Idaho. 
		Well, can you come up with something better?)
	</p>
	<p>
		And, as a counterweight to privilege, I am neurodivergent.
	</p>

</div>

<div class=article>

	<h1>Exult O shores!</h1>
	<p>The name comes from end of the Walt Whitman poem <a href="https://www.poetryfoundation.org/poems/45474/o-captain-my-captain">
		O Captain! My Captain!</a></p>
	<blockquote>
		Exult O shores, and ring O bells!<br>
		But I with mournful tread,<br>
		Walk the deck my Captain lies,<br>
			Fallen cold and dead.
	</blockquote>
	<p>The poem is about the assassination of Lincoln in 1865.
		The crowds of people on the "shores" celebrate the end of the Civil War, their unity and victory. 
		The poet, however, arriving on a ship whose "Captain" (Lincoln) has died,
		knows they will soon be plunged into unbearable grief.
	</p>
	<p>First put yourself in the role of the celebrants: they feel joy wholeheartedly,
		they give themselves completely to it.</p>
	<p>Then the poet, who knows grief so completely any feeling outside of it seems an impossibility.</p>
	<p>Then the reader, who is asked to feel everything at once, or at least in a
		sort of oscillation.</p>
	<p>Who then are we, each of us, or the community of us? 
		We are on our own ships, anchorless, adrift, grieving, yet soon to put to shore,
		to rest in--to <em>own</em>--an identity, however tenuous, however contingent and undermined
		by other journeys past and present.
	</p>
	<p>The task--the goal of my project--is to articulate this experience.</p>

</div>

{% endblock %}

