{% extends "base.html" %}

{% block content %}

<header id=mainHeader>
	<h1>About Exult O Shores</h1>
</header>

<article>

	<h2>My Identity Project</h2>
	<p>Exult O Shores is an exercise about IDENTITY: discerning, questioning, asserting.<p>
	<p>Specifically, MY identity. Who am I? Or, more urgently, WHO AM I? And why would a person need to ask that question in the first place, let alone in all caps?<p>
	<div class=moi>
   		 <img src="{{ url_for('static', filename='moi.jpg') }}" alt="Picture of Me">
	</div>
	<p>That's me. That's "me," some years ago, standing by a lake in the California Sierras, soon after dawn when the light is low and, they say, "magical," looking at the photographer, whom I loved, and love.</p>
	<p>It's a nice picture. I use it for my social media. It projects, I think, openness and confidence; whereas, most of the time, I ("I"?) am, or as I like to say, (the) I <em>is,</em> rather withdrawn and anxious. Hmmmm. What's going on here?</p>
	<p>Is it a trick, a sort of bait and switch, the typical self-constructing of social media where the image projected is idealized&mdash;happy-pretty-strong-loving? (I like to hyphenated related terms ... but I digress.) Or is it quite the opposite, the image of a True Self we know is in there, and strive to attain, and feel good when we do, and want to inspire others to attain as well?<p>
	<p>With that context in mind, here is my Identity as elucidated by Exult O Shores and its companion sites, Along the Longing and The Flailing Baker (see links above in the nav bar):</p>
	<ol>
		<li>Writer: poems and other things</li>
		<li>Baker: specifically of 100% Whole Wheat Sourdough Bread. 
			Before it was fashionable, I might add!</li>
		<li>Wine enthusiast: most reviews come from my AG (Awesome Girlfriend, although Attorney General is not altogether inappropriate). Speaking of which ... </li>
		<li>In Relationship, with AG, two grown sons, my therapist, C. That's about it.</li>
		<li>Techie: specifically web developer. All this is mine (hosted on AWS with stack of Ubuntu, Apache, Python, Postgresql).</li>
	</ol>
	<p>What's missing from that list? What did you notice immediately in the photo, without having to think the words?</p>
	<ol>
		<li>White</li>
		<li>Male</li>
		<li>Cis&mdash;most likely</li>
		<li>Hetero&mdash;I did mention AG, at any rate</li>
	</ol>
	<p>Which makes me a ... WMCH? Is there an acronym for that? What about, "WHeCM," Whetchum, rhymes with Ketchum, a town in my birth state of Idaho. Hmmm, Idaho? (my favorite joke in reponse to that is, really, we prefer the term "sex worker" ... is that joke offensive? WHeCMs have trouble telling ... )</p>
	<p>I think I'll go with WMCH just to avoid embarassment. Vulnerability is, well, let's say problematic for "me." <em>Moi,</em>as they say. Though, oddly, while often speechless with anxiety, <em>I seem to feel less vulnerable when writing.</em> Like this.</p>
	<p>White Male Cis Hetero, by "nature" a creature of privilege. Let's explore that.</p>
	<p>And, as a counterweight to privilege, I am neurodivergent. Whatever that means. Let's explore.</p>
	<p>Thank you for coming along.</p>

	<h2>Contact</h2>
	<p>Find me on <a href="https://twitter.com/isaacsalan">Twitter</a> and <a href="https://github.com/alanisaacs">GitHub</a>.</p>
	<h2>About "Exult O Shores"</h2>
	<p>The name of the site comes from end of the Walt Whitman poem <a href="https://www.poetryfoundation.org/poems/45474/o-captain-my-captain">
		O Captain! My Captain!</a></p>
	<blockquote>
		Exult O shores, and ring O bells!<br>
		But I with mournful tread,<br>
		Walk the deck my Captain lies,<br>
			Fallen cold and dead.
	</blockquote>
	<p>The poem is about the assassination of Lincoln in 1865.
		The crowds of people on the "shores" celebrate the end of the Civil War, their unity and victory. 
		The poet, however, arriving on a ship whose "Captain" (Lincoln) has died,
		knows they will soon be plunged into unbearable grief.
	</p>
	<p>First put yourself in the role of the celebrants: they feel joy wholeheartedly,
		they give themselves completely to it.</p>
	<p>Then the poet, who knows grief so completely any feeling outside of it seems an impossibility.</p>
	<p>Then the reader, who is asked to feel everything at once, or at least in a
		sort of oscillation.</p>
	<p>Who then are we, each of us, or the community of us? 
		We are on our own ships, anchorless, adrift, grieving, yet soon to put to shore,
		to rest in&mdash;to <em>own</em>&mdash;an identity, however tenuous, however contingent and undermined
		by other journeys past and present.
	</p>
	<p>The task&mdash;the goal of my project&mdash;is to articulate this experience.</p>

</div>

{% endblock %}

