{% extends "base.html" %}

{% block content %}

<p>This is an exercise in identity: discerning, questioning, asserting.<p>
<p>MY IDENTITY PROJECT</p>
<ol>
	<li>poet</li>
	<li>baker: specifically of 100% Whole Wheat Sourdough Bread. Before it was fashionable, I might add!</li>
	<li>wine enthusiast</li>
	most reviews come from my AG (Awesome Girlfriend, although Attorney General is not altogether inappropriate
	<li>techie: specifically web developer</li>
</ol>
<p>EXULT O SHORES!</p>
-- why where whitman 

WINE LOG

ALONG THE LONGING
-- links to poems
-- a Manifesto in which I try to articulate how I write
-- links to essays (at some point)
-- The Gibberish Engine, a web app for generating material that can be shaped, if desired, into poetry

THE FLAILING BAKER
{% endblock %}

