<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Exult O Shores">
    <meta name="keywords" content="bread, wine, poetry">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exult O Shores</title>
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_all.css') }}">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_eos.css') }}">
	<link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Spectral|Libre+Baskerville|Open+Sans">
    <script src="{{ url_for('static', filename='scripts_all.js') }}"></script>
</head>

<body>
    <div id="bodyWrap">
        <header id="siteTitle">Exult O Shores</header>
        <nav>
            <ul>
                <li>
                    <a href="/">EOS</a>
                </li>
                <li>
                    <a href="http://alongthelonging.com">Poetry</a>
                </li>
                <li>
                    <a href="http://theflailingbaker.com">Bread</a>
                </li>
                <li>
                    <a href="/wine">Wine</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer id=pageFooter>
			<script>showPageFooter()</script>
         </footer>
    </div>

</body>

</html>
