{% extends "base.html" %}

{% block content %}

<h2>TESTING RESULTS</h2>
<h3>======= OS.ENVIRON =======</h3>
<table>
    <tr>
        <th>key</th>
        <th>value</th>
    </tr>
    {% for k in sorted_envvars_keys %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ envvars.get(k) }}</td>
        </tr>
    {% endfor %}
</table>
<h3>======= FLASK CONFIGS =======</h3>
<table>
    <tr>
        <th>key</th>
        <th>value</th>
    </tr>
    {% for k in flask_configs %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ flask_configs.get(k) }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}